<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="incrementBy100Only" value="true"/>
    <add key="minimumLoanValue" value="1000"/>
    <add key="maximumLoanValue" value="15000"/>
  </appSettings>
</configuration>